<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% block title %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/common/style/bootstrap.min.css">
        <link rel="stylesheet" href="/common/style/global.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        {% block extendcss %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default uton-nav">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links" >
                    <span class="glyphicon glyphicon-list"></span>
                </button>
                <a class="navbar-brand" href="/">Uton</a>
            </div>
        
            <div class="collapse navbar-collapse" id="nav-links">
                <ul class="nav navbar-nav uton-nav-list">
                    {% block navlist %}
                    <li><a href="/browse">浏览</a></li>
                    <li><a href="/create">创作</a></li>
                    <li><a href="/group">小组</a></li>
                    {% endblock %}
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="搜索文章，小组，人">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user-login-box" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kyles Light</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">主页</a></li>
                            <li><a href="#">便笺</a></li>
                            <li><a href="#">设置</a></li>
                            <li><a href="#">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
        <script src="/common/script/jquery.min.js"></script>
        <script src="/common/script/bootstrap.min.js"></script>
    </body>
</html>